---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, image, canonical } = Astro.props;
---

<BaseLayout {title} {description} {image} {canonical}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
